<!doctype html>

<html>
	<head>
		<title>adisl.ink</title>

		<link rel="stylesheet" href="static/main.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
		
		<script src="static/main.js">
		</script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2749853128387820"
     crossorigin="anonymous">
     	</script>
	</head>
	<body>
		<div id="background_container">
		</div>
		<div id="main_container">
			<div id="logo_container">
				<h1 id="logo">adisl.ink</h1>
			</div>
			<div id="menu_container">
				<ul id="ul_menu">
					<li class="li_menu">
						<a href="#" class="a_menu menu_active">
							Home
						</a>
					</li>
				</ul>
			</div>
			<div id="content_container">
				<div id="left_container">
					<p>
						adisl.ink is a URL shortener.
					</p>
					<p>
						At this moment creation of short URLs isn't allowed for guests.
					</p>
				</div>
				<div id="right_container">
					
				</div>
			</div>


		</div>
	</body>

</html>