<!doctype html>

<html>
	<head>
		<title>adisl.ink</title>

		<link rel="stylesheet" href="static/main.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
		
		<script src="static/main.js">
		</script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2749853128387820"
     crossorigin="anonymous">
     	</script>
     	<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
	</head>
	<body>
		<div id="background_container">
		</div>
		<div id="main_container">
			<div id="logo_container">
				<h1 id="logo">adisl.ink</h1>
			</div>
			<div id="menu_container">
				<ul id="ul_menu">
					<li class="li_menu">
						<a href="/" class="a_menu menu_active">
							Home
						</a>
					</li>
				</ul>
			</div>
			<div id="content_container">
				<div id="left_container">
					<p>
						We're sorry, but the link adisl.ink/{{redirection_query}} leads nowhere.
					</p>
				</div>
				<div id="right_container">
					<amp-ad width="100vw" height="320"
						type="adsense"
						data-ad-client="ca-pub-2749853128387820"
						data-ad-slot="9729939724"
						data-auto-format="rspv"
						data-full-width="">
						<div overflow=""></div>
					</amp-ad>
				</div>
			</div>


		</div>
	</body>

</html>